* {
  font-family: "Proxima Nova", sans-serif;
}

html {
  height:100%;
}

body {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  height:100%;
}

/* PROPCARD.HTML */

.background {
  height: 100%;
  position: relative;
  background: #9a9a9a;
  background: -webkit-linear-gradient(#c2c2c2, #6d6d6d);
  background: -o-linear-gradient(#c2c2c2, #6d6d6d);
  background: -moz-linear-gradient(#c2c2c2, #6d6d6d);
  background: linear-gradient(#c2c2c2, #6d6d6d);
}

.header {
  text-align: center;
  padding-top: 1.5em;
  height: 13vh;
}

.header img {
  width: 180px;
}

.propcard {
  height: 62vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 2px 2px 5px #4b4b4b;
}

.propcard:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.5);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
}

.propcard-background-img {
  position: relative;
  top: 50%;
  transform: translateY(-90%);
  width: 100%;
}

.propcard-container {
  color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 0.5em;
  text-align: center;
  height: inherit;
}

.propcard-container i {
  opacity: 0.4;
}

.propcard-container p {
  margin: 0;
}

.prop-logo-container {
  height:30vh;
  width: 100%;
}

.prop-logo-container img {
  width: 80%;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#prop-logo {
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 20%;
}

.prop-info {
  width: 65vw;
  margin-bottom: 0.5em;
}

.prop-info div {
  display: inline-block;
  padding-right: 1em;
  text-align: left;
}

.prop-info p {
  letter-spacing: 1px;
}

.prop-info-top {
  font-size: 3vh;
  padding-bottom: 0.3em;
}

.prop-info-bottom {
  font-size: 1.5vh;
}

.propcard-bottom {
  text-align: left;
  margin-bottom: 1.5em;
}

.propcard-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#prop-price {
  letter-spacing: 1px;
  font-size: 14px;
  margin-left: 9vw;
  margin-top: 2vh;
  display: inline-block;
  border: 2px solid #e30505;
  -moz-border-image: -moz-linear-gradient(right, #aea7a7 0%, #e30505 100%);
  -webkit-border-image: -webkit-linear-gradient(right, #aea7a7 0%, #e30505 100%);
  border-image: linear-gradient(to left, #aea7a7 0%, #e30505 100%);
  border-image-slice: 1;
  border-radius: 15px;
  padding: 0.5em;
  vertical-align: top;
}

.propcard-bottom img {
  width: 24%;
  padding: 0;
  float: right;
}

.footer {
  position: fixed;
  clear: both;
  width: 100%;
  bottom: 0;
  height: 52px;;
}

.footer img {
  padding-left: 2em;
  padding-right: 0.5em;
}

.footer div {
  color: #fff;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  vertical-align: top;
}

.footer div p {
  margin: 0;
  margin-bottom: 3px;
}

.footer i {
  color: #fff;
  float: right;
  padding-right: 1em;
}

/* PROPINFO.HTML */

.photo-header {
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  text-align: center;
  position:relative;
}

.photo-header:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #282828 0%, transparent 50%, #282828 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #282828 0%, transparent 50%, #282828 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #282828 0%, transparent 50%, #282828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.photo-header div {
  padding-top: 1em;
  position:relative;
  z-index: 1;
}

.agent-logo {
  width: 170px;;
}

.photo-header i {
  color: #fff;
  z-index: 1;
  position: relative;
  float: right;
  margin-top: 1em;
  opacity: 0.5;
}

.header-background-img {
  transform: translateY(-97%);
  position: relative;
  width: 105%;
}

.header-right-overlay {
  width: 20vw;
  height: 25vh;
  float: right;
  margin-right: 1em;
}

.header-right-overlay img {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 55px;
}


.grey-footer {
  background-color: #4c4c4c;
}

.grey-footer > div {
  padding-top: 12px;
  width: 100%;
}

.left-band {
  width: 100vw;
  height: 100px;
  display: inline-block;
  padding-bottom: 1.6em;
}

/*.left-band:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100px;
  top:0;
  left:0;
  margin-top: 35vh;
  background: #ffffff;
  background: -moz-linear-gradient(left,  #fff 0%, #fff 40%, #fff 60%, transparent 100%);
  background: -webkit-linear-gradient(left,  #fff 0%,#fff 40%, #fff 60%,transparent 100%);
  background: linear-gradient(to right,  #fff 0%, #fff 40%, #fff 60%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=1);
}*/

.left-band div {
  position: absolute;
  padding-left: 1.5em;
  z-index: 1;
}

.left-band img {
  float: right;
  height: 100px;
}

.left-band h3 {
  padding-top: 1em;
  color: #595959;
  margin: 0;
  font-weight: 400;
}

.left-band p {
  color: #b4b4b4;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0
}

.left-band h5 {
  font-size: 12px;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
  background: #bc282b;
  background: -webkit-linear-gradient(left, #e30004 , #776767);
  background: -o-linear-gradient(right, #e30004, #776767);
  background: -moz-linear-gradient(right, #e30004, #776767);
  background: linear-gradient(to right, #e30004 , #776767);
  font-weight: 400;
}


.bottom-band {
  /*height: 30%;*/
  /*overflow: hidden;*/
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 55px; /*height of footer*/
}

/*.bottom-band:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  height: 28%;
}*/

.bottom-band p {
  margin: 0;
}

.bottom-band div.prop-info {
  width: 100%;
}

.bottom-band p.prop-info-top {
  color: #4a4a4a;
}

.bottom-band p.prop-info-bottom {
  color: #b4b4b4;
}

.prop-info i {
  float: right;
  padding-top: 2px;
  font-size: 2em;
  padding-right: 3px;
  color: #959595;
  display: none;
}

.proptext {
  position: relative;
  padding-top: 1.5em;
}

.proptext > div {
  line-height: 20px;
  color: #b4b4b4;
  font-size: 12px;
}

.proptext ul {
  padding: 0;
  width: 42%;
  color: #000;
  display: inline-block;
  margin-left: 1.5em;
}

.proptext a {
  text-decoration: none;
  font-size: 12px;
  color: #2d98ff;
}

.bottom-band img {
  width: 95%;
}
